.vertical-timeline-element-subtitle{
    font-weight: 100;
    padding-top: 5px;
}

.element-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    place-items: center;
    align-content: center;
}

.company-logo {
    height: 50px;
}