.loader {
    width: 30px;
    height: 30px;
    color: #25002d;
    background:
        conic-gradient(from -45deg at top 20px left 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
        conic-gradient(from 45deg at right 20px top 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
        conic-gradient(from 135deg at bottom 20px left 50%, #0000, currentColor 1deg 90deg, #0000 91deg),
        conic-gradient(from -135deg at left 20px top 50%, #0000, currentColor 1deg 90deg, #0000 91deg);
    animation: shape 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
}

@keyframes shape {
    50% {
        width: 80px;
        height: 80px;
        transform: rotate(180deg)
    }

    100% {
        transform: rotate(360deg)
    }
}